<%- include header.ejs %>
<link href="/css/staffs.css" rel="stylesheet">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>
                    <%= title %>
                </h1>
            </div>
        </div>
        <div class="list-staffs">
            <div class="list-staffs__header">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a onclick="addStaff()" class="btn btn-primary">Thêm mới</a>
                    </div>

                    <!-- <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding-right:0;">

                        <input type="text" class="form-control" placeholder="Tên, mã, SĐT...">
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-left:0;">
                        <a href="" class="btn btn-default" style="width:100%;"><i class="fa fa-search"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="list-staffs__body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Mã NV</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Ngày sinh</th>
                            <th scope="col">Số ĐT</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Tên đăng nhập</th>
                            <!-- <th scope="col">Mật khẩu</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% staffs.forEach(function(item) { %>
                        <tr>
                            <th scope="row"><%= item.staff_id %></th>
                            <td><%= item.staff_code %></td>
                            <td><%= item.staff_name %></td>
                            <td><%= item.staff_dob %></td>
                            <td><%= item.staff_phone %></td>
                            <td><%= item.staff_address %></td>
                            <td>
                                <% if(item.staff_state==1){ %>
                                    Đang hoạt động
                                <% }else{ %>
                                    Không hoạt động
                                <% } %>
                            </td>
                            <td><%= item.username %></td>                          
                            <td>
                                <a href="/staff/<%= item.staff_id %>" class="btn btn-warning">Chi tiết</a>
                                <!-- <a href="" class="btn btn-danger">Xóa</a> -->
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="list-staffs__footer">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="list-staffs__footer-left">
                            <!-- <small><i>Hiển thị từ 1 - 10</i></small> -->
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="list-staffs__footer-right">
                            <div class="pagination">
                                <% for(var i=1;i <= pages;i++){ %>
                                    <% if(current == i){ %>
                                        <a href="/staffs/<%= i %>" class="active"><%= i %></a>   
                                    <% }else{ %>
                                        <a href="/staffs/<%= i %>"><%= i %></a>   
                                    <% } %>                                                                  
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal -->
<div class="modal fade" id="modal-staff" role="dialog">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-staff-title"></h4>
        </div>
        <div class="modal-body">
            <form id="form-staff" action="#">
                <div class="form-group">
                    <label class="control-label">Id</label>
                    <input name="staff_id" placeholder="Id" class="form-control staff-id" type="text" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label">Mã nhân viên</label>
                    <input name="staff_code" placeholder="Mã nhân viên" class="form-control staff-code" type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Họ và tên</label>
                    <input name="staff_name" placeholder="Họ và tên" class="form-control staff-name" type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Ngày sinh</label>
                    <input name="staff_dob" class="form-control staff-dob" type="date"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Số điện thoại</label>
                    <input name="staff_phone" class="form-control staff-phone" type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Địa chỉ</label>
                    <input name="staff_address" class="form-control staff-address" type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Vai trò (Quyền)</label>
                    <select name="staff_role" class="form-control staff-role">
                        <option value="STAFF">Nhân viên</option>
                        <option value="TNV">Tình nguyện viên</option>
                        <option value="MANAGER">Quản lý</option>
                      </select>
                </div>
                <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select name="staff_state" class="form-control staff-state">
                            <option value="1">Hoạt động</option>
                            <option value="2">Không hoạt động</option>
                        </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Tên đăng nhập</label>
                    <input name="username" class="form-control staff-username" type="text"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Mật khẩu</label>
                    <input name="password" class="form-control staff-password" type="text"/>
                </div>
          </form>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="saveStaff()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <script src="/js/staffs.js"></script>
<%- include footer.ejs %>